[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"
telegram = "*"
python-telegram-bot = {extras = ["job-queue"], version = "*"}
python-dotenv = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"
